h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    font-weight: 400;
}
h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
    font-weight: 400;
}
h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    font-weight: 400;
}
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
    font-weight: 400;
}
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
    font-weight: 400;
}
h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0;
    font-weight: 400;
}
p {
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 1rem 0;
}
ul, ol {
    margin: 1rem 0;
}
ol li,
ul li {
    margin: .5rem 0 .5rem 2rem;
}
blockquote {
    margin: 1rem 0;
    padding: .7rem 0 .7rem 1.5rem;
    border-left: 5px solid #ee6e73;
}