.alert {
    padding: .75rem 1.25rem;
    border-radius: 2px;
    overflow: hidden;
}
.alert.top-right {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.alert.top-left {
    position: fixed;
    top: 1rem;
    left: 1rem;
}
.alert.bottom-right {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.alert.bottom-left {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
