node_modules/*
design/*
assets/*
connectors/*
core/*
manager/*
others/*
index.php
config.core.php
.htaccess
ht.access

path.php

!core/elements/
!core/components/minishop2/plugins/customfields/
!assets/components/minishop2/plugins/customfields/