.uibox-container {
    width: 95%;
    margin: auto;
}
.uibox-row {
    display: flex;
    flex-wrap: wrap;
}
.inline-row {
    display: flex;
}
.col {

}
.col.s1 {
    width: 8.3333333333%;
}
.col.s2 {
    width: 16.6666666666%;
}
.col.s3 {
    width: 25%;
}
.col.s4 {
    width: 33.3333333333%;
}
.col.s5 {
    width: 41.6666666667%;
}
.col.s6 {
    width: 50%;
}
.col.s7 {
    width: 58.3333333333%;
}
.col.s8 {
    width: 66.6666666667%;
}
.col.s9 {
    width: 75%;
}
.col.s10 {
    width: 83.3333333333%;
}
.col.s11 {
    width: 91.6666666667%;
}
.col.s12 {
    width: 100%;
}










.offset-1 {
    margin-left: 8.3333333333%;
}
.offset-2 {
    margin-left: 16.6666666666%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.3333333333%;
}
.offset-5 {
    margin-left: 41.6666666667%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.3333333333%;
}
.offset-8 {
    margin-left: 66.6666666667%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.3333333333%;
}
.offset-11 {
    margin-left: 91.6666666667%;
}
.offset-12 {
    margin-left: 100%;
}


.col[class*="push-"],
.col[class*="pull-"] {
    position: relative;
}
.col.push-s1 {
    left: 8.3333333333%;
}
.col.push-s2 {
    left: 16.6666666666%;
}
.col.push-s3 {
    left: 25%;
}
.col.push-s4 {
    left: 33.3333333333%;
}
.col.push-s5 {
    left: 41.6666666667%;
}
.col.push-s6 {
    left: 50%;
}
.col.push-s7 {
    left: 58.3333333333%;
}
.col.push-s8 {
    left: 66.6666666667%;
}
.col.push-s9 {
    left: 75%;
}
.col.push-s10 {
    left: 83.3333333333%;
}
.col.push-s11 {
    left: 91.6666666667%;
}
.col.push-s12 {
    left: 100%;
}


.col.pull-s1 {
    right: 8.3333333333%;
}
.col.pull-s2 {
    right: 16.6666666666%;
}
.col.pull-s3 {
    right: 25%;
}
.col.pull-s4 {
    right: 33.3333333333%;
}
.col.pull-s5 {
    right: 41.6666666667%;
}
.col.pull-s6 {
    right: 50%;
}
.col.pull-s7 {
    right: 58.3333333333%;
}
.col.pull-s8 {
    right: 66.6666666667%;
}
.col.pull-s9 {
    right: 75%;
}
.col.pull-s10 {
    right: 83.3333333333%;
}
.col.pull-s11 {
    right: 91.6666666667%;
}
.col.pull-s12 {
    right: 100%;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%; }

body {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

a {
  transition: all 0.3s ease 0s; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'Avenir Next Cyr Light';
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Light.eot");
  src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"), url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"), url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"), url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr Demi';
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Demi.eot");
  src: local("Avenir Next Cyr Demi"), local("AvenirNextCyr-Demi"), url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr Bold';
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"), url("../fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: "Avenir Next Cyr Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #383838; }

a {
  text-decoration: none; }

a:hover {
  color: #CD293D; }

h1 {
  font-size: 40px;
  margin: 0 0 40px 0;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

h2 {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  color: #193444; }

h3 {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 1px;
  color: #193444;
  margin: 15px 0; }

h4 {
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 24px;
  color: #383838; }

p {
  font-size: 1rem;
  line-height: 20px; }

.subtitle {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 10px 0;
  position: relative; }

.intro {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 1px;
  margin: 10px 0; }

.hidden {
  display: none; }

.center {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; }

.uibox-container {
  width: 96%;
  max-width: 1200px; }

.clr {
  clear: both; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: all .3s ease 0s; }

.btn-primary {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 0.04em;
  padding: 1.7rem 1.9rem;
  line-height: 20px;
  min-width: 196px;
  max-height: 74px; }
  .btn-primary .icon {
    display: inline-block;
    margin: 0 .8rem 0 0; }

.btn-primary:hover {
  color: #fff; }

.btn-secondary {
  color: #fff;
  letter-spacing: 0.04em;
  padding: 1.7rem 1.9rem;
  background: rgba(205, 41, 61, 0.75); }

.invert {
  background: #fff;
  color: #CD293D; }

.icon-btn {
  background: transparent;
  padding: .2rem;
  font-size: 1.3rem; }

.icon-btn .icon {
  transition: all .3s ease 0s; }

.link-btn {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.icon-btn:hover,
.icon-btn:hover > * {
  color: #CD293D; }

.btn-outlined {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  color: #CD293D;
  border: 1px solid #CD293D;
  letter-spacing: 0.04em;
  padding: 1.28rem 1.9rem;
  line-height: 20px;
  min-width: 167px;
  background: transparent; }

.btn-outlined:hover {
  background: #CD293D;
  color: #fff; }

.btn-primary.small,
.btn-outlined.small {
  max-height: 54px;
  font-size: .9rem; }

.disabled {
  opacity: .5;
  cursor: not-allowed; }

.white-text {
  color: #fff; }

.black-text {
  color: #000; }

.primary-text {
  color: #CD293D; }

.secondary-text {
  color: #383838; }

.primary {
  background: #CD293D; }

.red-light {
  box-shadow: 0px 3px 18px #CD293D; }

.darkless {
  background: #262626; }

.dark {
  background: #121925; }

.gd-dark {
  background: linear-gradient(89.04deg, #130F0C 29.97%, rgba(53, 53, 53, 0) 93.01%), #050605; }

.main {
  min-height: 100vh; }

.section {
  margin: 60px 0;
  padding: 50px 0; }

.layout {
  transition: all .3s ease 0s; }

.blured {
  filter: blur(5px); }

.form-group {
  position: relative;
  margin: 23px 0; }

.form-label {
  display: block;
  margin: 0 0 14px 0;
  font-size: 1.1rem;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.input-text,
.textarea {
  color: #696969;
  font-size: 1rem;
  border: none;
  display: block;
  background: #fff;
  width: 100%;
  padding: 22px;
  box-shadow: 0px 4px 8px rgba(191, 191, 191, 0.25); }

.input-text {
  height: 70px; }

.textarea {
  font-family: "Avenir Next Cyr Regular", Arial, Helvetica, sans-serif;
  height: 110px;
  resize: none; }

.underlined {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  background: transparent;
  color: #fff;
  border-bottom: 2px solid #fff;
  box-shadow: none;
  height: 36px; }

.input-text.outlined {
  border: 1px solid #B0B0B0;
  height: 50px;
  box-shadow: none; }

.textarea.outlined {
  border: 1px solid #B0B0B0;
  height: 110px;
  box-shadow: none; }

.inline-form {
  align-items: flex-end;
  flex-wrap: nowrap; }

.inline-form .form-group {
  margin: 15px 20px; }

.inline-form .form-group:first-child {
  margin: 15px 20px 15px 0; }

.inline-form .send-btn {
  padding: 1.05rem 1.9rem;
  font-size: .9rem;
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif;
  color: #CD293D !important; }

.custom-radio {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center; }

.custom-radio-outer {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  cursor: pointer;
  background: transparent; }

.custom-radio-checked {
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #CD293D;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.custom-radio input[type="radio"]:checked + .custom-radio-outer .custom-radio-checked {
  display: block; }

.custom-radio input[type="radio"]:checked + .custom-radio-outer {
  border-color: #CD293D; }

.option-box-label input[type="radio"]:disabled + .option-box-title {
  opacity: .3; }

.custom-radio-title {
  display: inline-block;
  margin: 0 0 0 .6rem; }

.reviews-btn {
  background: #415576; }

.page-header {
  color: #fff;
  padding: .8rem 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.81)), color-stop(115.2%, rgba(18, 25, 37, 0)));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.81) 0%, rgba(18, 25, 37, 0) 115.2%);
  z-index: 20; }

.page-header.static {
  position: relative;
  background: #121925; }

.logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo-title {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 0 1rem; }

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.search-toggle,
.minicart-toggle {
  margin: 0 0 5px 15px; }

.minicart-toggle {
  position: relative; }

.minicart-count {
  font-family: "Avenir Next Cyr Regular", Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 15px;
  display: block;
  position: absolute;
  top: -4px;
  right: -4px;
  background: #CD293D;
  color: #fff !important;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%; }

.header-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 30px;
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif; }
  .header-nav li {
    list-style: none;
    margin: 0 15px;
    position: relative; }
  .header-nav li::before {
    content: '';
    position: absolute;
    bottom: -8px;
    border-radius: 2px;
    height: 3px;
    width: 0px;
    background: #CD293D;
    box-shadow: 0px 0px 6px #CD293D;
    transition: all .3s ease 0s; }
  .header-nav li:hover::before {
    width: 100%; }
  .header-nav a {
    color: #fff; }

.search {
  position: relative; }

.search-form {
  width: 0;
  overflow: hidden;
  position: absolute;
  right: 44px;
  top: 0;
  display: flex;
  align-items: center;
  top: -6px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease 0s; }

.search-form.active {
  width: 600%;
  opacity: 1;
  visibility: visible; }

.search-input {
  width: calc(100% - 52px);
  border: none;
  height: 35px;
  padding: 0 10px;
  color: #fff;
  background: transparent;
  font-size: 1rem; }

.search-btn {
  border: none;
  background: transparent;
  height: 35px;
  position: absolute;
  right: 6px;
  top: -2px;
  cursor: pointer;
  color: #fff;
  padding: 0;
  font-size: 1rem;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.search-form::before {
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  height: 3px;
  width: 100%;
  background: #CD293D;
  box-shadow: 0px 0px 6px #CD293D;
  transition: all .3s ease 0s; }

.simple-banner {
  position: relative;
  background: #121925;
  margin: 0 0 46px 0; }

.simple-banner-inner {
  padding: 11% 0 7% 0;
  background: url("../img/banner-pattern.png") repeat; }

.simple-banner .banner-title {
  text-shadow: none; }

.banner-text,
.banner-text p {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px; }

.banner-right {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.simple-banner-img-wrap {
  position: relative;
  width: 66%;
  margin: 35px 15px 0 0; }

.simple-banner-img-wrap::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 33%;
  padding: 33% 0 0 0;
  background: rgba(255, 27, 0, 0.93); }

.simple-banner-img-wrap::after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 33%;
  padding: 33% 0 0 0;
  background: rgba(255, 217, 0, 0.98); }

.simple-banner-img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1; }

.crumbs {
  margin: 30px 0; }

.breadcrumb {
  display: flex;
  align-items: center;
  margin: 0; }
  .breadcrumb li {
    list-style: none;
    line-height: 24px;
    margin: 0 3px; }
  .breadcrumb li:first-child {
    margin: 0 3px 0 0; }
  .breadcrumb a {
    color: #484848; }
  .breadcrumb a:hover {
    color: #CD293D; }

.crumbs-separator {
  color: #989898; }

.current {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.banner-crumbs .breadcrumb a {
  color: #fff; }

.banner-crumbs .breadcrumb a:hover {
  color: #CD293D; }

.sidebar {
  width: 30%;
  padding: 0 3% 0 0; }

.sidebar-title {
  padding: 22px 35px;
  font-size: 1.2rem;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.sidebar-nav {
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09); }
  .sidebar-nav li {
    font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #EAEAEA; }
  .sidebar-nav li.active,
  .sidebar-nav li.active a {
    color: #CD293D; }
  .sidebar-nav a {
    display: block;
    padding: 18px 30px;
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #383838; }
  .sidebar-nav a:hover {
    color: #CD293D; }

.sidebar-info {
  margin: 40px 0 0 0; }

.sidebar-info-item {
  margin: 20px 0;
  padding: 20px;
  background: rgba(252, 244, 244, 0.47);
  color: #383838; }
  .sidebar-info-item .uibox-row {
    align-items: center;
    margin: 15px 0 0 0; }

.sidebar-info-title {
  font-size: 1.2rem;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.sidebar-info-left {
  width: 90px;
  text-align: center; }

.sidebar-info-right {
  width: calc(100% - 90px);
  line-height: 18px; }

.fb-widget-header {
  padding: 12px 20px; }

.widget-logo {
  width: 120px; }

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #383838;
  margin: 0 0 20px 0; }

.content h2:first-child {
  margin: 0 0 20px 0; }

.content h2,
.content h3 {
  margin: 60px 0 20px 0; }

.content {
  line-height: 28px; }

.content p,
.content li {
  font-size: 18px;
  line-height: 26px; }

.content ul li {
  list-style: none;
  padding: 0 0 0 48px;
  position: relative;
  margin: 10px 0; }

.content ul li::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 8px;
  width: 11px;
  height: 11px;
  background: #CD293D;
  border-radius: 50%; }

.video {
  position: relative;
  display: block;
  line-height: 1px; }

.video img {
  width: 100%; }

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: linear-gradient(0deg, rgba(61, 61, 61, 0.42), rgba(61, 61, 61, 0.42)); }

.play-btn {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 108px;
  height: 108px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.play-btn svg {
  width: 18px; }

.play-btn path {
  fill: #CD293D; }

blockquote {
  padding: 36px 28px 36px 100px;
  background: #F2F2F2;
  border-left: 7px solid #FF1B00;
  position: relative;
  font-size: 20px;
  line-height: 26px;
  margin: 40px 0; }

blockquote::before {
  content: '';
  position: absolute;
  left: 1%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background: url("../img/blq.png") no-repeat; }

.products-list {
  margin: 0 0 0 -1.5%;
  width: 103%; }

.product-item {
  padding: 0 1.5% 4% 1.5%; }

.product-item-inner {
  position: relative;
  transition: all .3s ease 0s;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

.product-item-inner:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13); }

.product-item-link {
  display: block;
  line-height: 1px;
  position: relative;
  z-index: 1;
  background: #fff;
  height: 100%; }

.product-item-img {
  width: 100%; }

.product-item-content {
  background: #fff;
  padding: 15px;
  text-align: center;
  transition: all .3s ease 0s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08); }

.product-item-title {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  color: #383838;
  line-height: 18px; }

.product-sticker {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  position: absolute;
  display: block;
  top: 13px;
  right: -10px;
  width: 92px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 17px; }

.product-sticker.top {
  color: #fff;
  background: #E82D2D; }

.product-left {
  width: 36%; }

.video-slide {
  display: block;
  position: relative;
  line-height: 1px; }

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; }

.product-gallery .slick-slide img {
  width: 100%; }

.gallery-nav {
  width: calc(100% + 10px);
  margin: 10px 0 0 -5px; }

.gallery-nav-item {
  cursor: pointer;
  position: relative;
  padding: 0 5px; }

.gallery-nav-inner {
  position: relative; }

.gallery-nav-inner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .3s ease 0s;
  opacity: .65;
  background: #202020;
  z-index: 1; }

.gallery-nav-inner:hover::before {
  opacity: 0; }

.slick-current .gallery-nav-inner::before {
  opacity: 0; }

.product-right {
  width: 64%;
  padding: 0 0 0 3%; }
  .product-right h1 {
    font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
    color: #383838;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 15px 0;
    padding: 0; }

.product-descr-row {
  align-items: flex-start;
  justify-content: space-between; }

.product-col {
  margin: 9px 0; }

.stock-info {
  font-size: .9rem; }

.stock-info-row {
  margin: 0 0 8px 0; }

.stock {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.stock.instock {
  color: #34DD5A; }

.vendor .info-value {
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif; }

.options-title {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: #383838;
  margin: 0 0 10px 0; }

.options-title.primary-text {
  color: #CD293D; }

.options-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 0 -5px; }

.option-box {
  padding: 5px; }

.option-box-label {
  display: block; }
  .option-box-label input {
    display: none; }

.option-box-title {
  cursor: pointer;
  display: block;
  padding: 0 9px;
  height: 34px;
  line-height: 32px;
  background: #fff;
  border: 0.7px solid #9E9E9E;
  transition: all .3s ease 0s; }

.option-box-pattern {
  margin: 4px 0 0 0;
  display: block; }

.option-box-title:hover {
  border-color: #CD293D; }

.option-box-label input[type="radio"]:checked + .option-box-title {
  border-color: #CD293D; }

.colors .option-box-title {
  padding: 0 6px; }

.color-pattern {
  width: 20px;
  height: 100%;
  background-position: center bottom !important;
  background-repeat: no-repeat !important; }

.color {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 4px 0 0 0; }

.color-inner {
  width: 6px;
  position: absolute;
  height: 14px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -10px; }

.product-actions-row {
  margin: 12px 0;
  align-items: center;
  justify-content: flex-start; }

.price-wrap {
  margin: 0 15px 0 0;
  color: #CD293D;
  font-size: 1.5rem;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.add-cart-btn,
.one-click-btn {
  font-size: .9rem;
  min-width: 112px;
  margin: 0 6px;
  padding: 1rem 1.9rem;
  border: 1px solid #CD293D; }

.product-details {
  margin: 75px 0; }

.tooltip {
  position: absolute;
  z-index: 1000;
  background: #fff;
  font-size: 14px;
  border: 0.7px solid #9E9E9E;
  padding: 4px 8px;
  line-height: 1; }

.product-table {
  width: 100%;
  max-width: 420px; }

.product-table tr td:last-child {
  text-align: right; }

.product-content {
  padding: 5%;
  background: #FBFBFB; }

.review-block {
  background: #FBFBFB;
  padding: 5%;
  margin: 0 0 40px 0; }

.review-form .form-label {
  font-size: 1rem;
  font-family: "Avenir Next Cyr Regular", Arial, Helvetica, sans-serif;
  margin: 0 0 8px 0; }

.review-form .uibox-row {
  align-items: center; }

.review-form .right-col {
  padding: 0 0 0 3%; }

.reviews-list {
  margin: 40px 0 0 0; }

.review-item {
  margin: 30px 0 0 0; }

.review-item-header {
  align-items: center;
  justify-content: space-between; }

.review-author {
  font-size: 1.1rem;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.review-createdon {
  font-size: .85rem; }

.article .uibox-container {
  max-width: 828px; }

.article-header-row {
  margin: 0 0 26px 0; }

.article-header-left {
  width: calc(100% - 210px);
  padding: 0 3% 0 0; }

.article-header-right {
  width: 210px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }

.article-meta-row {
  display: flex;
  align-items: center;
  margin: 0 30px 0 0; }

.article-meta-row .icon {
  margin: 0 6px 0 0; }

.btn-outlined.icon-btn {
  padding: 0;
  display: inline-flex;
  align-items: stretch; }

.btn-outlined.icon-btn:hover .btn-title,
.btn-outlined.icon-btn:hover .btn-icon-wrap {
  color: #fff; }

.btn-outlined.icon-btn .btn-title {
  color: #383838;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 1.2rem 1rem;
  transition: all .3s ease 0s; }

.btn-icon-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #CD293D;
  font-size: 1.6rem;
  padding: 0 .8rem; }

.share {
  margin: 25px 0;
  display: flex;
  align-items: center; }

.share-title {
  font-size: 20px;
  line-height: 24px;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.share-list {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px; }

.share-item {
  margin: 0 3px;
  padding: 0;
  font-size: 1.6rem;
  list-style: none;
  color: #383838; }
  .share-item a {
    color: #383838; }
  .share-item a:hover {
    color: #CD293D; }

.tabs-nav {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center; }

.tab {
  cursor: pointer;
  margin: 0;
  list-style: none;
  padding: 24px 5% 18px 5%;
  font-size: 1.2rem;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  transition: all .3s ease 0s; }

.tab.active {
  background: #FBFBFB; }

.tab:hover {
  color: #CD293D; }

.tabs-body {
  margin: 0;
  position: relative; }

.tab-content {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden; }

.tab-content.active {
  position: static;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease 0s; }

.header-banner {
  position: relative;
  z-index: 10; }

.banner-img {
  width: 100%; }

.banner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.26); }

.banner-descr {
  position: absolute;
  left: 12%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1; }

.banner-title {
  color: #fff;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 61px;
  text-shadow: 0px 0px 17px #FFFFFF; }

.banner-descr .link-btn {
  margin: 30px 0 0 0; }

.categories-container {
  width: 76%;
  margin: 60px auto;
  padding: 0; }

.categories-container .category-item:last-child {
  float: right; }

.categories-container .category-item:nth-child(odd) {
  float: left; }

.categories-container .category-item:nth-child(even) {
  float: right; }

.category-item {
  padding: 1.5%; }

.category-item:nth-last-child(2) {
  margin: 0 -50%; }

.category-item-inner {
  position: relative;
  border-radius: 5px 5px 0 5px;
  overflow: hidden;
  transition: all .3s ease 0s; }

.category-item-inner:hover {
  box-shadow: 4px 4px 7px rgba(92, 92, 92, 0.5); }

.category-item-body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.category-img-link {
  display: block;
  line-height: 1px; }

.category-item-img {
  width: 100%; }

.category-item-content {
  padding: 0 43px 43px 43px; }

.category-item-title {
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 37px; }

.category-item-title:hover {
  color: #CD293D; }

.category-item-intro {
  font-size: 18px;
  line-height: 20px;
  padding: 15px 0 0 0; }

.category-item-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  bottom: 0; }

.category-item-more {
  color: #fff !important;
  font-size: 2rem;
  padding: 1rem 1.4rem; }

.category-item-more:hover {
  color: #fff !important; }

.metro-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 50px 0 0 -15px;
  width: 106%;
  max-width: 376px; }
  .metro-nav li {
    width: 50%;
    max-width: 158px;
    list-style: none;
    margin: 15px;
    height: 158px; }
  .metro-nav li:nth-child(3) {
    width: 100%;
    max-width: 100%; }
  .metro-nav .metro-nav-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #FEE8EA;
    border-radius: 5px;
    transition: all .3s ease 0s;
    cursor: pointer; }
  .metro-nav .metro-nav-item-inner:hover,
  .metro-nav .metro-nav-item-inner.active {
    background: #CD293D;
    border-color: #CD293D; }
  .metro-nav .icon {
    max-width: inherit; }
  .metro-nav .metro-nav-title {
    display: inline-block;
    margin: 10px 0; }

.beautify-right {
  padding: 0 0 0 5%; }

.img-layout {
  position: relative;
  line-height: 1px; }

.img-layout::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 10px;
  width: 30%;
  background: #EEAB1F; }

.beautify-right img {
  width: 100%; }

.beautify-right .link-btn {
  position: absolute;
  right: 0;
  bottom: 0; }

.works {
  width: 100%;
  overflow: hidden; }

.works-list {
  margin: 36px 0 0 0; }

.work-item {
  position: relative; }

.work-item.card {
  transition: all .3s ease .1s; }

.work-item.card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2); }

.work-item.card:hover .work-item-content {
  border-left: 1px solid #E0E0E0; }

.work-item-inner {
  height: 100%;
  position: relative; }

.work-item-link {
  display: block;
  line-height: 1px; }

.work-item-img {
  width: 100%; }

.work-item-content {
  padding: 45px 30px 25px 30px;
  background: #fff;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }

.work-item:last-child .work-item-content {
  border-right: none; }

.work-item-title {
  color: #000;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px; }

.work-item-title:hover,
.work-item-metro-content .work-item-title:hover {
  color: #CD293D; }

.work-item-intro {
  padding: 10px 0 30px 0;
  font-size: 18px;
  line-height: 22px;
  color: #3F3F3F; }

.works-list-metro {
  margin: 36px 0 120px 0; }

.work-item-metro.left {
  width: 50%;
  float: left;
  padding: .35% 1% .35% 0; }

.work-item-metro.right {
  width: 50%;
  float: right;
  padding: .3% 0 .3% 1%; }

.work-item-metro.full {
  width: 100%;
  clear: both;
  padding: .3% 0; }

.work-item-cover {
  display: block;
  line-height: 1px; }

.work-item-metro-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px; }

.work-item-place {
  margin: 20px 0;
  font-size: 1.15rem;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.work-item-metro-content .work-item-title {
  color: #fff;
  font-size: 22px; }

.filters-panel {
  margin: 0 0 55px 0; }

.filters-panel .option-box-title {
  padding: 0 12px;
  height: 40px;
  line-height: 38px; }

.reset-btn-hidden {
  display: none !important; }

.blog-layout {
  margin: 0 0 100px 0; }

.blog-list {
  margin: 0 0 80px -1%;
  width: 102%; }

.card-item {
  padding: 1%; }

.card-item-inner {
  transition: all .3s ease 0s; }

.card-item-content {
  padding: 20px 30px 25px 30px;
  background: #fff;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }

.card-item:hover .card-item-inner {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2); }

.card-publishedon {
  font-size: .85rem;
  line-height: 17px;
  color: #484848; }

.card-item-title {
  color: #383838;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 20px 0;
  display: inline-block; }

.card-item-title:hover {
  color: #CD293D; }

.card-tags {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap; }
  .card-tags li {
    display: inline-block;
    list-style: none;
    margin: 0 20px 0 0;
    font-size: .85rem;
    color: #777777; }
  .card-tags a {
    color: #777777;
    white-space: nowrap; }
  .card-tags a:hover {
    color: #CD293D; }

.calc-lead-block {
  margin: 12% 0 38px 0; }

.calc-lead-block-inner {
  position: relative;
  background: #BA1C2F;
  padding: 35px 0; }

.calc-lead-block .uibox-container {
  position: relative; }

.calc-lead-block-img-wrap {
  position: absolute;
  bottom: -41px;
  line-height: 1px;
  width: 26%;
  left: 0; }

.calc-lead-block-inner-wrap {
  margin: 0 0 0 36%; }

.calc-lead-block-inner .h3 {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 0 0 10px 0; }

.page-footer {
  position: relative;
  z-index: 1; }

.page-footer,
.page-footer a {
  color: #fff; }

.page-footer a:hover {
  color: #CD293D; }

.page-footer {
  background: #262626; }

.footer-top {
  padding: 45px 0; }

.page-footer li {
  list-style: none; }

.cpr {
  padding: 45px 0;
  font-size: .9rem;
  color: #BABABA; }
  .cpr .uibox-row {
    justify-content: space-between;
    align-items: center; }
  .cpr a {
    color: #BABABA; }

.footer-col:first-child {
  margin: 0; }

.footer-col {
  margin: 55px 0 0 0; }

.footer-logo-link {
  display: inline-flex;
  align-items: center; }

.footer-logo-title {
  display: inline-block;
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0 0 0 16px;
  text-transform: uppercase; }

.footer-list li {
  margin: 20px 0;
  max-width: 185px;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.footer-text {
  font-family: "Avenir Next Cyr Regular", Arial, Helvetica, sans-serif;
  margin: 20px 0 20px 10%;
  position: relative;
  line-height: 20px; }

.footer-text::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 3px;
  background: #CD293D;
  left: -81px;
  top: 10px; }

.footer-soc {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: center; }
  .footer-soc li {
    list-style: none;
    margin: 0 14px; }
  .footer-soc a {
    font-size: 1.6rem; }

.get-map {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  background: transparent;
  border: none;
  color: #FE7359;
  padding: 0; }

.menu-layout {
  display: none;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(18, 25, 37, 0.73); }

.menu-inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center; }

.menu-header {
  padding: .8rem 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

.menu-header a:hover {
  color: #CD293D; }

.dropdown {
  color: #fff;
  position: relative; }
  .dropdown a {
    color: #fff;
    display: block;
    padding: 5px 10px; }

.dropdown-current {
  cursor: pointer;
  display: flex;
  align-items: center; }

.dropdown-list {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: #121925; }

.menu-phones-list {
  color: #fff; }
  .menu-phones-list li {
    list-style: none;
    margin: 0; }
  .menu-phones-list a {
    color: #fff; }

.langs,
.menu-phones {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.langs {
  margin: 0 15px; }

.dropdown-arrow {
  margin: -2px 0 0 2px; }

.menu-phones {
  margin: 0 55px 0 15px; }

.menu-body {
  width: 96%;
  margin: auto; }

.menu-row {
  width: 100%;
  max-width: 1100px;
  margin: auto; }

.menu-col {
  padding: 0 3%; }

.menu-col-title {
  position: relative;
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px; }
  .menu-col-title a {
    position: relative;
    color: #fff; }

.menu-col-title a::before {
  content: '';
  position: absolute;
  bottom: -8px;
  border-radius: 2px;
  height: 3px;
  width: 0px;
  background: #CD293D;
  box-shadow: 0px 0px 6px #CD293D;
  transition: all .3s ease 0s; }

.menu-col-title a:hover::before {
  width: 100%; }

.menu-list {
  margin: 30px 0 0 0; }
  .menu-list li {
    font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 20px;
    margin: 14px 0; }
  .menu-list a {
    color: #fff; }
  .menu-list a:hover {
    color: #CD293D; }

.header-soc {
  margin: 25px 0 0 -9px;
  display: flex;
  align-items: center; }
  .header-soc li {
    font-size: 1.6rem;
    margin: 0 10px;
    list-style: none; }
  .header-soc li:first-child {
    margin: 0 10px 0 0; }
  .header-soc a {
    color: #fff; }
  .header-soc a:hover {
    color: #CD293D; }

.alert {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10000;
  background: #262626;
  color: #fff;
  padding: 20px 0; }
  .alert a {
    text-decoration: underline; }
  .alert .uibox-row {
    justify-content: space-between;
    align-items: flex-start; }

.alert.bottom {
  bottom: 0; }

.modal {
  display: none;
  padding: 36px 26px !important;
  width: 100%;
  max-width: 978px !important; }

.minicart-title {
  font-size: 30px;
  line-height: 18px;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  color: #383838; }

.fancybox-slide--html,
.fancybox-close-small {
  right: 12px !important;
  top: 19px !important; }

.fancybox-close-small svg {
  transition: all .3s ease 0s; }

.fancybox-close-small:hover path {
  fill: #CD293D; }

.minicart-modal .fancybox-close-small {
  display: none !important; }

.minicart-modal .fancybox-close-small.custom-fc-close {
  display: inline-block !important; }

#fast-order {
  max-width: 600px !important; }

.fast-order-form {
  margin: 60px 0 0 0; }

.order-header-info {
  text-align: right;
  line-height: 25px; }

.order-header-worktime {
  color: #ccc;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.order-header-hotline a {
  color: #fff;
  font-family: "Avenir Next Cyr Bold", Arial, Helvetica, sans-serif; }

.order-header-hotline a:hover {
  color: #CD293D; }

.order-page {
  margin: 0 0 90px 0; }

.order-page h1 {
  font-size: 40px;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  margin: 80px 0 20px 0; }

#msOrder {
  margin: 0 0 0 0 !important; }

.minicart-count.hidden {
  display: none; }

.minicart-empty {
  margin: 40px 0 30px 0;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  font-size: 26px; }
  .minicart-empty a {
    color: #CD293D; }
  .minicart-empty p {
    font-size: 26px; }

.cart {
  margin: 48px 0; }

.cart-body {
  border-bottom: 2px solid #EBEBEB; }

.cart-row {
  margin: 0 0 25px 0; }

.cart-col-info {
  padding: 0 14px; }

.cart-item-title {
  display: inline-block;
  margin: 8px 0;
  font-size: 1rem;
  color: #383838;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.cart-col-info .article {
  margin: 2px 0 8px 0; }

.cart-col-info .price-wrap {
  margin: 20px 0;
  color: #383838; }

.count-action-row {
  align-items: center;
  flex-wrap: nowrap; }

.cart-count-row {
  display: flex; }

.cart-count {
  width: 60px;
  height: 40px;
  border: 1px solid #AFAFAF;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  color: #383838;
  font-size: .9rem; }

.count-btn {
  font-size: 25px;
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
  background: transparent;
  text-align: center;
  width: 34px;
  height: 40px;
  color: #383838; }

.count-btn.minus {
  border-left: 1px solid #AFAFAF; }

.count-btn.plus {
  border-right: 1px solid #AFAFAF; }

.cart-item-sum {
  width: calc(100% - 128px);
  text-align: right; }

.cart-col-actions .price-wrap,
.cart-total .price-wrap {
  color: #383838;
  margin: 0; }

.cart-item-remove {
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 0; }

.cart-item-remove svg {
  transition: all .3s ease 0s; }

.cart-item-remove:hover path {
  fill: #CD293D; }

.remove-form {
  margin: 8px 0 28px 0;
  text-align: right; }

.cart-total {
  padding: 0 0 0 2%; }

.cart-total .uibox-row {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 18px 0; }

.cart-total-title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.cart-footer-actions {
  margin: 0 0 0 -2%;
  width: 104%; }

.cart-footer-action {
  padding: 0 2%; }

.order-row {
  padding: 0 11% 0 0; }

.order-form {
  counter-reset: orderRows; }

.order-form .num-title {
  padding: 0 0 0 50px;
  color: #828282; }

.order-form .num-title::before {
  counter-increment: orderRows;
  content: counter(orderRows);
  color: #fff;
  position: absolute;
  left: 0;
  top: -10px;
  background: #D2D2D2;
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  border-radius: 50%;
  border: 1px solid #D2D2D2; }

.order-row.active .num-title::before {
  border: 1px solid #CD293D;
  background: transparent;
  color: #CD293D; }

.order-row.checked .num-title::before {
  border: 1px solid #CD293D;
  background: #CD293D;
  color: #fff; }

.order-row {
  margin: 30px 0; }

.order-row .form-block {
  display: none; }

.order-row.active:first-child .form-block {
  display: block; }

.order-row.active .num-title,
.order-row.checked .num-title {
  color: #484848; }

.order-checkin-data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 50px;
  margin: 20px 0;
  display: none; }

.order-row.checked .order-checkin-data-row {
  display: flex; }

.order-checkin-data {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px; }

.order-checkin-data-change {
  cursor: pointer;
  border: none;
  padding: 0;
  display: inline-block;
  background: transparent;
  color: #6C798E;
  font-size: .9rem;
  text-decoration: underline; }

.order-checkin-data-change:hover {
  text-decoration: none; }

.form-block {
  margin: 47px 0; }

.receiver-info .form-block,
.payments-block {
  padding: 0 0 0 50px; }

.order-cities-list {
  display: flex;
  align-items: center;
  margin: 7px 0 0 0; }
  .order-cities-list li {
    margin: 0;
    list-style: none;
    margin: 0 8px; }
  .order-cities-list li:first-child {
    margin: 0 8px 0 0; }
  .order-cities-list button {
    color: #CD293D;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1rem;
    transition: all .3s ease 0s; }
  .order-cities-list button:hover {
    text-decoration: none; }

.deliveries {
  margin: 36px 0 0 0; }

.delivery-group {
  padding: 0 0 25px 0; }

.delivery-item-right {
  width: calc(100% - 22px);
  padding: 0 0 0 15px; }

.delivery-item-right label {
  display: inline-block;
  max-width: 280px;
  cursor: pointer; }

.inputs-row {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.get-np-map {
  white-space: nowrap;
  text-decoration: underline;
  display: inline-block;
  margin: 0 0 0 5%; }

.get-np-map:hover {
  text-decoration: none; }

.cart-col {
  border-left: 2px solid #EBEBEB;
  padding: 0 0 0 26px; }

.order-details {
  padding: 15px 0;
  border-bottom: 2px solid #EBEBEB; }

.order-details-row {
  margin: 15px 0;
  display: flex;
  width: 100%;
  justify-content: space-between; }

.order-details-label {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif; }

.order-details-price {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.cart-title {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin: 23px 0 46px 0; }

.cart-totals .order-details-price {
  font-size: 24px; }

.cart-totals {
  margin: 36px 0; }

.order-thanks {
  background: url("../img/lamps-bg.png") no-repeat;
  background-position: right -115px;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  color: #828282; }

.order {
  max-width: 810px;
  margin: 0 auto;
  padding: 100px 0; }

.thanks-title {
  color: #CD293D;
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  font-size: 40px; }

.order-msg {
  font-size: 18px; }

.order-details-table {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.11);
  padding: 0 25px;
  margin: 36px 0; }

.order-details-table-row {
  padding: 20px 0;
  border-bottom: 2px solid #EBEBEB; }

.order-details-table-row:last-child {
  border-bottom: none; }

.order-num {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 24px; }

.order-createdon {
  display: inline-block;
  margin: 0 0 0 10%;
  font-size: 18px;
  line-height: 24px;
  color: #828282; }

.order-product-link {
  font-size: 18px;
  color: #383838; }

.order-total-col {
  margin: 20px 0 0 0; }

.order-total-cost,
.order-payment,
.order-delivery-cost {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.continue-shopping-link {
  font-size: 20px; }

.table-responsive .uibox-row {
  flex-wrap: nowrap;
  align-items: center; }

table {
  width: 100%; }

table td {
  border-bottom: 1px solid #CFCFCF;
  padding: 11px 0; }

#pdopage .pagination,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 24px 0 !important; }

.pagination .page-item {
  list-style: none;
  margin: 0 5px;
  width: 32px;
  height: 32px;
  border: 1px solid #979797;
  text-align: center;
  line-height: 30px;
  color: #979797;
  transition: all .3s ease 0s; }

.pagination .page-item.active {
  color: #fff;
  background: #CD293D;
  border-color: #CD293D; }

.pagination .page-item:hover,
.page-item:hover a {
  color: #fff;
  background: #CD293D;
  border-color: #CD293D; }

.pagination .page-item.active a {
  color: #fff; }

.pagination a {
  display: block;
  width: 100%;
  height: 100%;
  color: #979797; }

.pagination .page-control {
  font-size: 1.6rem;
  border: none; }

.pagination .page-control:hover .page-link,
.pagination .page-control:hover {
  background: transparent;
  color: #CD293D; }

.page-control:first-child .icon {
  display: block;
  transform: rotate(180deg); }

.loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000; }

.loader-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000; }

.loader-layout {
  position: fixed;
  background: rgba(255, 255, 255, 0.4); }

.loading-msg {
  margin: 1.2rem 0 0 0; }

.spinner {
  width: 70px;
  height: 70px;
  -webkit-animation: circle-rotator 1.4s linear infinite;
  animation: circle-rotator 1.4s linear infinite; }

@-webkit-keyframes circle-rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

@keyframes circle-rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  stroke: #CD293D;
  -webkit-animation: circle-dash 1.4s ease-in-out infinite;
  animation: circle-dash 1.4s ease-in-out infinite; }

@-webkit-keyframes circle-dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes circle-dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

.btn-more {
  width: auto !important;
  margin: 46px auto 0 auto !important;
  min-width: 232px; }

.page {
  margin: 30px 0 0 0; }

.page-right {
  width: 70%; }

.products-home-list {
  margin: 0; }
  .products-home-list li {
    margin: 20px 0;
    color: #484848;
    list-style: none;
    font-size: 22px;
    line-height: 27px;
    transition: all .3s ease 0s; }
  .products-home-list li:hover a {
    color: #CD293D; }
  .products-home-list li:hover .nav-icon {
    border-color: #CD293D;
    filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(13); }
  .products-home-list a {
    display: flex;
    align-items: center;
    color: #484848; }
  .products-home-list .nav-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #484848;
    transition: all .3s ease 0s;
    background-position: center center !important; }

.products-home-list-title {
  font-family: "Avenir Next Cyr Medium", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0 0 0 30px; }

.all-products-link {
  font-size: 24px;
  line-height: 29px;
  color: #484848;
  display: inline-block;
  margin: 30px 0 0 80px;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.all-products-link:hover {
  color: #CD293D; }

.section-img-wrap {
  position: relative;
  line-height: 1px; }

.products-home .section-img-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 10px;
  width: 20%;
  background: #EEAB1F; }

.section.fullscreen .section-col-left {
  width: 44.667%; }

.section.fullscreen .section-col-left .section-img-wrap,
.section.fullscreen .section-col-left .section-img {
  height: 100%; }

.section.fullscreen .section-col-right {
  width: 55.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0; }

.section-form {
  max-width: 500px; }

.section h2 {
  margin: 12px 0 25px 0;
  line-height: 1;
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif; }

.section-col {
  position: relative; }

.valigne-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start; }

.section-row {
  width: 100%;
  max-width: 600px;
  font-size: 20px;
  line-height: 28px; }
  .section-row p {
    font-size: 20px;
    line-height: 28px; }

.section-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .section-col-left .section-row {
    padding: 5% 11% 5% 0; }

.section-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .section-col-right .section-row {
    padding: 5% 0 5% 11%; }

.section-col img {
  width: 100%;
  height: auto; }

.section-soc {
  width: 150%;
  margin: -35px 0 0 -50%; }

.section-soc-item {
  list-style: none;
  background: #ccc;
  font-size: 30px; }

.section-soc-item.youtube {
  background: #E53935; }

.section-soc-item.instagram {
  background: #EF4C5C; }

.section-soc-item.facebook {
  background: #3B5999; }

.section-soc-item a {
  width: 100%;
  color: #fff;
  display: inline-flex;
  align-items: center; }

.soc-icon {
  display: block;
  padding: 31px 36px;
  border-right: 3px solid #fff;
  font-size: 4rem; }

.soc-title {
  font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
  width: 100%;
  display: block;
  padding: 0 0 0 40px; }

.consult-form-wrap h2 {
  line-height: 45px;
  margin: 34px 0 44px 0; }

.consult-form-wrap .input-text {
  height: 75px; }

.consult-form-wrap .textarea {
  height: 120px; }

.consult-form-wrap .btn-primary {
  padding: 2.1rem 1.9rem;
  margin: 32px 0 0 0;
  width: 296px; }

.story {
  counter-reset: storyCounter;
  margin: 0; }
  .story li {
    list-style: none;
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 0 96px; }
  .story li:before {
    counter-increment: storyCounter;
    content: counter(storyCounter);
    color: #CD293D;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    font-family: "Avenir Next Cyr Demi", Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border: 3px solid #CD293D; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

