.circle-img-wrap {
    width: 40px;
    position: relative;
}
.circle-img {
    width: 100%;
    border-radius: 50%;
}
.online-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.online {
    background: #76ff03;
}
.offline {
    background: #bdbdbd;
}