.alert {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10000;
    background: #262626;
    color: #fff;
    padding: 20px 0;
    
    a {
        text-decoration: underline;
    }

    .uibox-row {
        justify-content: space-between;
        align-items: flex-start;
    }
}
.alert.bottom {
    bottom: 0;
}