.form-group {
    position: relative;
    margin: 23px 0;
}
.input-row {
    position: relative;
    width: 100%;
}
.error-data {
    display: none;
    background: #fb667a;
    padding: 15px;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,.34);
}
.form-label {
    display: block;
    margin: 0 0 14px 0;
    font-size: 1.1rem;
    font-family: $fontMedium, Arial, Helvetica, sans-serif;
}
.input-text,
.textarea {
    color: #696969;
    font-size: 1rem;
    border: none;
    display: block;
    background: #fff;
    width: 100%;
    padding: 22px;
    box-shadow: 0px 4px 8px rgba(191, 191, 191, 0.25);
}
.input-text {
    height: 70px;
}
.textarea {
    font-family: $fontRegular, Arial, Helvetica, sans-serif;
    height: 110px;
    resize: none;
}
.underlined {
    font-family: $fontDemi, Arial, Helvetica, sans-serif;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    box-shadow: none;
    height: 36px;
}
.underlined::placeholder {
    color: #fff;
}
.input-text.outlined {
    border: 1px solid #B0B0B0;
    height: 50px;
    box-shadow: none;
}
.textarea.outlined {
    border: 1px solid #B0B0B0;
    height: 110px;
    box-shadow: none;
}
.inline-form {
    align-items: flex-end;
    flex-wrap: nowrap;
}
.inline-form .form-group {
    margin: 15px 20px;
}
.inline-form .form-group:first-child {
    margin: 15px 20px 15px 0;
}
.inline-form .send-btn {
    padding: 1.05rem 1.9rem;
    font-size: .9rem;
    font-family: $fontBold, Arial, Helvetica, sans-serif;
    color: $primary !important;
}
.custom-radio {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.custom-radio-outer {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}
.custom-radio-checked {
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $primary;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.custom-radio input[type="radio"]:checked + .custom-radio-outer .custom-radio-checked {
    display: block;
}
.custom-radio input[type="radio"]:checked + .custom-radio-outer {
    border-color: $primary;
}
.option-box-label input[type="radio"]:disabled + .option-box-title {
    opacity: .3;
}
.custom-radio-title {
    display: inline-block;
    margin: 0 0 0 .6rem;
}
.reviews-btn {
    background: #415576;
}
.error-msg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fd2543;
    color: #fff;
    padding: 4px 8px;
    font-size: .9rem;
    line-height: 1;
}
.inline-form .error-msg {
    top: -20px;
}
.fly {
    position: absolute;
    left: -9999px;
}