.page-header {
    color: #fff;
    padding: .8rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.81)), color-stop(115.2%, rgba(18, 25, 37, 0)));
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.81) 0%, rgba(18, 25, 37, 0) 115.2%);
    z-index: 20;
}
.logo {
    width: 210px;
    display: block;
    transition: all .3s ease 0s;
}
.page-header.sticky {
    background: #121925;
    box-shadow: 0 3px 6px rgba(0,0,0,.45);
}
.page-header.sticky .logo {
    width: 100px;
}
.page-header.static {
    // position: relative;
    background: #121925;
}
.logo-link {
    position: relative;
    z-index: 10;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-title {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 1rem;
}
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-toggle,
.minicart-toggle {
    margin: 0 0 5px 15px;
}
.minicart-toggle {
    position: relative;
}
.minicart-count {
    font-family: $fontRegular, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 15px;
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    background:$primary;
    color:#fff !important;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 30px;
    font-family: $fontBold, Arial, Helvetica, sans-serif;

    li {
        list-style: none;
        margin: 0 15px;
        position: relative;
    }
    li::before {
        content: '';
        position: absolute;
        bottom: -8px;
        border-radius: 2px;
        height: 3px;
        width: 0px;
        background: $primary;
        box-shadow: 0px 0px 6px #CD293D;
        transition: all .3s ease 0s;
    }
    li:hover::before {
        width: 100%;
    }
    a {
        color: #fff;
    }
}
.search {
    position: relative;
}
.search-form {
    width: 0;
    overflow: hidden;
    position: absolute;
    right: 44px;
    top: 0;
    display: flex;
    align-items: center;
    top: -6px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
}
.search-form.active {
    width: 600%;
    opacity: 1;
    visibility: visible;
}
.search-input-wrap {
    width: 100%;
}
.search-input {
    width: calc(100% - 52px);
    border: none;
    height: 35px;
    padding: 0 10px;
    color: #fff;
    background: transparent;
    font-size: 1rem;
}
.search-btn {
    border: none;
    background: transparent;
    height: 35px;
    position: absolute;
    right: 6px;
    top: -2px;
    cursor: pointer;
    color: #fff;
    padding: 0;
    font-size: 1rem;
    font-family: $fontMedium, Arial, Helvetica, sans-serif;
}
.search-form::before {
    content: '';
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    height: 3px;
    width: 100%;
    background:
    #CD293D;
    box-shadow: 0px 0px 6px
    #CD293D;
    transition: all .3s ease 0s;
}
.search-close-btn {
    display: none;
}