.page-header {
    color: #fff;
    padding: .8rem 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.81)), color-stop(115.2%, rgba(18, 25, 37, 0)));
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.81) 0%, rgba(18, 25, 37, 0) 115.2%);
    z-index: 20;
}
.page-header.static {
    position: relative;
    background: #121925;
}
.logo-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-title {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 1rem;
}
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-toggle,
.minicart-toggle {
    margin: 0 0 5px 15px;
}
.minicart-toggle {
    position: relative;
}
.minicart-count {
    font-family: $fontRegular, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 15px;
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    background:$primary;
    color:#fff !important;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 30px;

    li {
        list-style: none;
        margin: 0 15px;
        position: relative;
    }
    li::before {
        content: '';
        position: absolute;
        bottom: -8px;
        border-radius: 2px;
        height: 3px;
        width: 0px;
        background: $primary;
        box-shadow: 0px 0px 6px #CD293D;
        transition: all .3s ease 0s;
    }
    li:hover::before {
        width: 100%;
    }
    a {
        color: #fff;
    }
}