.works {
    width: 100%;
    overflow: hidden;
}
.works-list {
    margin: 36px 0 0 0;
}
.work-item {
    position: relative;
}
.work-item.card {
    transition: all .3s ease .1s;
}
.work-item.card:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}
.work-item.card:hover .work-item-content {
    border-left: 1px solid #E0E0E0;
}
.work-item-inner {
    height: 100%;
    position: relative;
}
.work-item-link {
    display: block;
    line-height: 1px;
}
.work-item-img {
    width: 100%;
}
.work-item-content {
    padding: 45px 30px 25px 30px;
    background: $white;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.work-item:last-child .work-item-content {
    border-right: none;
}
.work-item-title {
    color: #000;
    font-family: $fontDemi, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
}
.work-item-title:hover,
.work-item-metro-content .work-item-title:hover {
    color: $primary;
}
.work-item-intro {
    padding: 10px 0 30px 0;
    font-size: 18px;
    line-height: 22px;
    color: #3F3F3F;
}

.works-list-metro {
    margin: 36px 0 120px 0;
}
.work-item-metro.left {
    width: 50%;
    float: left;
    padding: .35% 1% .35% 0;
}
.work-item-metro.right {
    width: 50%;
    float: right;
    padding: .3% 0 .3% 1%;
}
.work-item-metro.full {
    width: 100%;
    clear: both;
    padding: .3% 0;
}
.work-item-cover {
    display: block;
    line-height: 1px;
}
.work-item-metro-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
}
.work-item-place {
    margin: 20px 0;
    font-size: 1.15rem;
    font-family: $fontMedium, Arial, Helvetica, sans-serif;
}
.work-item-metro-content .work-item-title {
    color: #fff;
    font-size: 22px;
}



// Card
.filters-panel {
    margin: 0 0 55px 0;
}
.filters-panel .option-box-title {
    padding: 0 12px;
    height: 40px;
    line-height: 38px;
}
.reset-btn-hidden {
    display: none !important;
}

.blog-layout {
    margin: 0 0 100px 0;
}
.blog-list {
    margin: 0 0 80px -1%;
    width: 102%;
}
.card-item {
    padding: 1%;
}
.card-item-inner {
    transition: all .3s ease 0s;
}
.card-item-content {
    padding: 20px 30px 25px 30px;
    background: $white;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.card-item:hover .card-item-inner {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}
.card-publishedon {
    font-size: .85rem;
    line-height: 17px;
    color: #484848;
}
.card-item-title {
    color: $primaryText;
    font-family: $fontDemi, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0;
    display: inline-block;
}
.card-item-title:hover {
    color: $primary;
}
.card-tags {
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    
    li {
        display: inline-block;
        list-style: none;
        margin: 0 20px 0 0;
        font-size: .85rem;
        color: #777777;
    }
    a {
        color: #777777;
        white-space: nowrap;
    }
    a:hover {
        color: $primary;
    }
}