.uibox-container {
    width: 95%;
    margin: auto;
}
.uibox-row {
    display: flex;
    flex-wrap: wrap;
}
.inline-row {
    display: flex;
}
.col {

}
.col.s1 {
    width: 8.3333333333%;
}
.col.s2 {
    width: 16.6666666666%;
}
.col.s3 {
    width: 25%;
}
.col.s4 {
    width: 33.3333333333%;
}
.col.s5 {
    width: 41.6666666667%;
}
.col.s6 {
    width: 50%;
}
.col.s7 {
    width: 58.3333333333%;
}
.col.s8 {
    width: 66.6666666667%;
}
.col.s9 {
    width: 75%;
}
.col.s10 {
    width: 83.3333333333%;
}
.col.s11 {
    width: 91.6666666667%;
}
.col.s12 {
    width: 100%;
}










.offset-1 {
    margin-left: 8.3333333333%;
}
.offset-2 {
    margin-left: 16.6666666666%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.3333333333%;
}
.offset-5 {
    margin-left: 41.6666666667%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.3333333333%;
}
.offset-8 {
    margin-left: 66.6666666667%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.3333333333%;
}
.offset-11 {
    margin-left: 91.6666666667%;
}
.offset-12 {
    margin-left: 100%;
}


.col[class*="push-"],
.col[class*="pull-"] {
    position: relative;
}
.col.push-s1 {
    left: 8.3333333333%;
}
.col.push-s2 {
    left: 16.6666666666%;
}
.col.push-s3 {
    left: 25%;
}
.col.push-s4 {
    left: 33.3333333333%;
}
.col.push-s5 {
    left: 41.6666666667%;
}
.col.push-s6 {
    left: 50%;
}
.col.push-s7 {
    left: 58.3333333333%;
}
.col.push-s8 {
    left: 66.6666666667%;
}
.col.push-s9 {
    left: 75%;
}
.col.push-s10 {
    left: 83.3333333333%;
}
.col.push-s11 {
    left: 91.6666666667%;
}
.col.push-s12 {
    left: 100%;
}


.col.pull-s1 {
    right: 8.3333333333%;
}
.col.pull-s2 {
    right: 16.6666666666%;
}
.col.pull-s3 {
    right: 25%;
}
.col.pull-s4 {
    right: 33.3333333333%;
}
.col.pull-s5 {
    right: 41.6666666667%;
}
.col.pull-s6 {
    right: 50%;
}
.col.pull-s7 {
    right: 58.3333333333%;
}
.col.pull-s8 {
    right: 66.6666666667%;
}
.col.pull-s9 {
    right: 75%;
}
.col.pull-s10 {
    right: 83.3333333333%;
}
.col.pull-s11 {
    right: 91.6666666667%;
}
.col.pull-s12 {
    right: 100%;
}